.main-form {
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 7px;
  margin: 0 auto;
  height: 400px;
  justify-content: space-between;
  position: relative;
  max-width: 700px;
  }

  .main-form label {
    text-align: left;
  }
  
  .label-input {
    width: 100%;
    max-width: 33.33%;
    text-align: left;
    margin: 3px;
  }

  .form-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    }
    

    .service-group {
      display: flex;
      justify-content: flex-start;
    }

    .service-group label {
      padding-left: 5px;
    }

    .main-form-btn {
      background: #ACECFF;
      border: none;
      padding: 11px 27px;
      display: flex;
      width: max-content;
      border-radius: 4px;
    }

    #full-name, #email-address {
      padding: 7px;
      border: none;
      border-radius: 3px;
      box-shadow: 0px 0px 3px #ccc;
    }

#full-name:focus, #email-address:focus {
    border: 2px solid #ACECFF !important;
    outline: none;
}